{{> header}}
 <div class="signup__container login__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <h1 class="logo__text">chatmeup</h1>
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to ChatMeUp.</h1>
      <h2 class="heading--secondary">Are you ready to spend your time here?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="https://www.behance.net/" target="_blank"><fa class="fa fa-behance"></fa></a></li>
        <li><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
		
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="example@mail.com" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Log in" />
          </li>
          <li>
            <a class="signup__link" href="/register">I want to register</a>
          </li>
        </ul>
      </div>
    </form>  
    <form action="/account/forgot" method="POST">
    <h2>I forgot my password</h2>
      <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="example@mail.com" required />
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Send a Reset" />
          </li>
        </ul>
      </div>
    </form>  
  </div>
</div>
{{> footer}}