{{> header}}
	<h2>{{welcomeMessage}}</h2>
	<form method="POST">
		<h2>Reset your password</h2>
		<label for="password">Password</label>
		<input type="password" name="password">
		<label for="password-confirm">Confirm Password</label>
		<input type="password" name="password-confirm">
		<input type="submit" value="Reset">
	</form>
{{> footer}}